.allbills__card {
    background-color: white;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    min-height: 400px;
    margin: 100px 0;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.bill_preview__card {
    box-shadow: 0 0 20px rgb(0 0 0 / 15%);
    width:  100%;
}

.bill_preview--name {
    color: black;
    font-weight: bold;
    width: 50%;
}

.bill__li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bill__li__name--container {
    max-width: 50%;
    overflow: hidden;
    color: black;
    text-overflow: ellipsis;
}

.bill__li:hover .bill_preview--name,  .bill__li:hover .bill__li__name--container {
    color: white;
}

.bill__li {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 2.5vw;
    padding: 15px;
    text-decoration: none;
    color: black;
    background-color: white;
    box-sizing: border-box;
    border-bottom: 1px solid #dddddd;
}

.bill__li:nth-of-type(even) {
    background-color: #f3f3f3;
}

.bill__li--top {
    color: white;
    background: linear-gradient(to bottom right, #11998e, #38ef7d);
    width: 100%;
    margin: 0px;
    padding: 15px;
    border-radius: 20px 20px 0 0;
}

.bill__li:last-of-type(even) {
    border-radius: 0px 0px 20px 20px;
}

.bill__li:hover {
    background-color: #11998e;
    color: white;
}

.bill__ft {
    height: 10px;
    background: linear-gradient(to bottom right, #11998e, #38ef7d);
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 20px 20px;
    box-sizing: border-box;
}

.bill__ft span {
    color: white;
}

.bill__h1 h1 {
    margin: 0;
    padding-bottom: 10px;
    font-size: 50px;
}

.bill_preview__card:last-child {
    border-radius: 20px;
}

.bill_preview {
    margin-bottom: 20px;
}

.no-bills {
    background-color: white;
    height: 100%;
}

.no-bills a {
    color: black;
}

@media screen and (max-width: 800px) {
    .allbills__card {
        width: 80%;
        padding: 15px;
    }

    .bill__h1 {
        font-size: 30px;
    }

    .bill_preview__card {
        width: 100%;
    }

    .bill__li bill__li--top, .bill__li {
        font-size: 16px;
    }
}