.navbar {
    width: 100%;
    height: 50px;
    color: black;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    top: 0px;
    font-size: 20px;
}

.navbar a {
    color: #11998e;
    text-decoration: none;
    transition: 0.5s linear;
}

.navbar a:hover {
    color: #000;
    text-decoration: none;
}

.navbar__item {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 25%;
}